body {
    background-color: #ccc;
}

.content {
    width: 900px;
    background-color: white;
    margin: auto;
    padding: 16px;
}

table {
    width: 100%;
}

h1 {
   font-size: 16px; 
}

h2 {
    font-size: 20px;
}

h5 {
    font-size: larger;
    text-align: center;
}

.konten {
    background-color:rgb(231, 52, 52);
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    color: white;
}

.testimoni {
    background-color: rgb(224, 35, 35);
    text-align: left;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    color: white;
    
}

#pencarian {
    width: 90%;
    padding: 3px;
}

.sosialmedia {
    background-color:rgb(224, 35, 35);
    text-align: left;
    color: white;
}